div {
	outline: 1px solid #CCCCCC;
}
/*this is the outermost div in our content markup*/

#main-content {
	width: 960px;
	height: 1000px;
}
/*this is the code for the button holder*/
/*i changed the float to the right, as i've noticed is the style in more popculturey sites*/
.button-holder {
	width: 180px;
	float: right;
}
/*this specifies the style of the back and next buttons*/
.button {

	width: 60px;
	padding: 8px;
	margin: 4px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	float: left;
	text-align: center;
}
/*when the button is disabled, it is gray, and black when enabled*/

.disabled{
	cursor: default;
	border-color: gray;
	color: gray;
}
/*image holder is to the left*/

.image-holder {
	width: 625px;
	height: 925px;
	float: left;

} body {

}
